
*{
  box-sizing: border-box;
}
body,html{
  height: 100%;
}
body {
  @include text(16px,20px,400,$color:$black);
    font-family: $multi-sans-serif;
    background-image: radial-gradient( circle at top right, $light-blue, $light-yellow );
    margin: 0;
    padding: 0;
}
h1{
  @include text(36px,36px,700);
  text-align: center;
  @media #{$brk-wide} {
    font-size: 24px;
    line-height: 26px;
  }
}
h2{
  @include text(21px,30px,700);
  text-align: center;
  @media #{$brk-wide} {
    font-size: 18px;
    line-height: 22px;
  }
}
p{
  @include text(21px,30px,400);
  text-align: center;
  @media #{$brk-wide} {
    font-size: 18px;
    line-height: 22px;
  }


}
